.header {
    display: flex;
    border: 1px solid black;
    justify-content: space-between;
    padding-right: 50px;
}

.logo {
    width: 150px;
}


.nav-items>ul {
    list-style-type: none;
    font-size: 18px;
    display: flex;
}

.nav-items>ul>li {
    margin: 10px;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
}

.res-card {
    width: 250px;
    padding: 5px;

}

.res-card h4 {
    margin: 5px 0;
}

.res-card:hover {
    cursor: pointer;
    box-shadow: 5px 5px 5px grey;
}

.res-logo {
    height: 220px;
    width: 100%;
}

.search {
    border: 1px solid black;
    margin: 10px 0;
    padding: 10px;
    display: flex;
    justify-content: center;
}